.ofertas {
  width: 50%;
  margin: auto;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.ofertas li {
  list-style: none;
  background: white;
  box-shadow: 0px 1px var(--primary-color);
  padding: var(--padding);
  margin: var(--padding);
}

.ofertas li label {
  font-size: 0.8em;
  color: gray;
}
