<nav>
    <h1><a href="/">Concesionario pirámide</a></h1>
    <div>
        <a href="/">Coches</a>
        <a href="/nuevo">Nuevo</a>
        <form action="/">
            <input type="text" name="matricula" placeholder="Buscar por matrícula">
            <input type="submit" value="Buscar">
        </form>
    </div>
</nav>